.vscode/**
.vscode-test/**
.github/**
src/**
tests/**
out/**
coverage/**
.gitignore
.gitattributes
tsconfig.json
eslint.config.mjs
esbuild.js
vitest.config.ts
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
